[package]
name = "oci-tool"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = { workspace = true }
clap = { workspace = true }
libc = { workspace = true }
nix = { workspace = true }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
