[package]
name = "ns-tool"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = { workspace = true }
clap = { workspace = true }
libc = { workspace = true }
nix = { workspace = true }

[dev-dependencies]
assert_cmd = "2.0"
predicates = "3.0"
